<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="didastudy.dao.NucDidaTagMapper" >
  <resultMap id="BaseResultMap" type="didastudy.entity.NucDidaTag" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="in_class" property="inClass" jdbcType="INTEGER" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_system" property="isSystem" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from nuc_dida_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="didastudy.entity.NucDidaTag" >
    insert into nuc_dida_tag (id, name, path, 
      in_class, rank, gmt_create, 
      gmt_modified, is_system)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{inClass,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isSystem,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="didastudy.entity.NucDidaTag" >
    update nuc_dida_tag
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      in_class = #{inClass,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_system = #{isSystem,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, path, in_class, rank, gmt_create, gmt_modified, is_system
    from nuc_dida_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, path, in_class, rank, gmt_create, gmt_modified, is_system
    from nuc_dida_tag
  </select>
</mapper>