<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="didastudy.dao.NucDidaStudentMapper" >
  <resultMap id="BaseResultMap" type="didastudy.entity.NucDidaStudent" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="number" property="number" jdbcType="VARCHAR" />
    <result column="classes" property="classes" jdbcType="VARCHAR" />
    <result column="liveness_id" property="livenessId" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from nuc_dida_student
    where id = #{id,jdbcType=BIGINT}
      and number = #{number,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="didastudy.entity.NucDidaStudent" >
    insert into nuc_dida_student (id, number, classes,
      liveness_id, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=BIGINT}, #{number,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR},
      #{livenessId,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="didastudy.entity.NucDidaStudent" >
    update nuc_dida_student
    set classes = #{classes,jdbcType=VARCHAR},
      liveness_id = #{livenessId,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
      and number = #{number,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select id, number, classes, liveness_id, gmt_create, gmt_modified
    from nuc_dida_student
    where id = #{id,jdbcType=BIGINT}
      and number = #{number,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, number, classes, liveness_id, gmt_create, gmt_modified
    from nuc_dida_student
  </select>
</mapper>